
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
$family-primary: 'Panamera';

$primary: red;

$info: white;
$success: green;
$warning: blue;
$danger: indigo;

$light: lightgrey;
$dark: darkgrey;

// // $body-size: 160px;
// $size-1: 500px;
$body-line-height: 1.1;

$size-1: 7.4vw;


// $size-2: 500px;
// $size-3: 500px;
// $size-4: 500px;
// $size-5: 500px;
// $size-6: 500px;
// $size-7: 500px;


@import '~bulma';

.grey-background{
  background: grey;
}

.green-background{
  background: #2f6f57;
}

.purple-background{
  background-color: #3b3bff;
}

.darkblue-background{
  background-color: #000080
}

.darkbrown-background{
  background-color: brown
}

.is-size-1{
  line-height: 1 ;
  text-transform: uppercase;
}

.fullHeight{
  height: 100vh;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      background-position: bottom center;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}



.aligner-item--top {
  align-self: flex-start !important;
}

.aligner-item--bottom {
  align-self: flex-end !important;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 75, 80, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .m-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }


    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
    .p-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }

  }
}
