@font-face {
    font-family: 'Panamera';
    src: url('Panamera-Regular.woff2') format('woff2'),
        url('Panamera-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Panamera';
    src: url('Panamera-Light.woff2') format('woff2'),
        url('Panamera-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Panamera';
    src: url('Panamera-Bold.woff2') format('woff2'),
        url('Panamera-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

